﻿@model IEnumerable<LV.DataResponsitory.RegInfo>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
@section Scripts{
    <script src=@Url.Content("~/Scripts/jquery-1.10.2.js")></script>
    <script type="text/javascript" src=@Url.Content("/Scripts/jquery.signalR-2.2.3.js")></script>
    <script type="text/javascript" src= @Url.Content("/signalr/hubs")></script>
    
    
    <script>
        var site = '@Url.Content("~/")';
        console.log(site);
        //GetAllCandidate = function () {
        //    $.ajax({
        //        url: 'http://localhost:56741/api/common/GetNotify',
        //        contentType: 'application/html ; charset:utf-8',
        //        type: 'GET',
        //        dataType: 'html'
        //    }).success(function (result) {
        //        console.log(result);
        //    }).error(function () {
        //        console.log("disconnect");;
        //    });
        //}

        GetAppointment = function () {
            $.ajax({
                url: 'http://localhost:56741/api/common/GetAppointment',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            }).success(function (result) {
                console.log(result);
            }).error(function () {
                console.log("disconnect");;
            });
        }
        
        //GetAllCandidate();
        // Declare a proxy to reference the hub.
        //var notifications = $.connection.notifyHub;
        GetAppointment();
        var appoinment = $.connection.appointmentHub;

        appoinment.client.updateAppointments = function () {
            console.log("change data");
            //GetAppointment();
        };
        //debugger;
        // Create a function that the hub can call to broadcast messages.
        //notifications.client.updateNotifys = function () {
        //    console.log("change data");
        //    GetAllCandidate();
        //};

        // Start the connection.
        $.connection.hub.start().done(function () {
            //alert("connection started")
            //GetAllCandidate();
            GetAppointment();
            console.log("start connect");
        }).fail(function (e) {
            alert(e);
        });




    </script>
}
